* {
    box-sizing: border-box;
  }
  
  html,

  .placeholder {
    background-image: url("toilet.jpg");
    height: 400px;
    
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 1280px;
    color: #3b3b3b;
    font-size: 24px;
    background: white;

  }
  
  .headline {
    max-width: 800x;
    padding: 100 100;
    text-align: center;
    margin: 0 auto;
    color: #070700;
    padding: 5%;
    font-weight: bolder;
    
    
    
  }

.subtitle{
  max-width: 250px;
  padding: 100 100;
  text-align: center;
  margin: 0 auto;
  color: rgb(0, 4, 4);
  

}

  p,
  h1,
  h2,
  h3,
  h4,
  a {
    margin: 0;
    font-weight: 400;
  }
  
  a,
  a:visited,
  a:hover {
    color: teal;
    text-decoration: none;
    border-bottom: 2px solid currentColor;
  }
  
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #f7edc8;
    padding: 1rem;
    padding-right: 5rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .nav__examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  
  .nav__examples > * {
    margin-right: 0.5rem;
  }
  
  #intro {
    max-width: 40rem;
    margin: 1rem auto;
    text-align: center;
    padding: 2%;
  }
  
  .intro__hed {
    font-size: 2em;
    margin: 2rem auto 0.5rem auto;

  }
  
  .intro__dek {
    color: #8a8a8a;
    margin: 0 auto;
    padding: 1%;
    
  }
  
  #intro {
    margin-bottom: 100px;
  }
  
  #outro {
    height: 240px;
    text-align: center;
  }
  
  .outro__dek {
    color: #8a8a8a;
    margin: 0 auto;
    padding: 2%;
    
  }
  @media (min-width: 840px) {
    .nav__examples {
      margin-top: 0;
      margin-left: 2rem;
    }
  }
  